*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: $general-background;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

$z: (
  minus: -1,
  zerro: 0,
  plus: 1
);

@mixin main-button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: $main-button-color;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 12px 44px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@mixin default_link {
  color: $font-color-second;
  text-decoration: underline;
  font-weight: 400;
}

@mixin bg_highlights($top, $left, $height, $width) {
  &::before {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    height: $height;
    width: $width;
    background-color: $highlights-color;
    z-index: map-get($z, minus);
  }
}

.header {
  background-image: $header-bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0 175px 192px;
  border-radius: 0 0 757px/288px 0;
}

.landing-logo {
  display: flex;
  align-items: center;

  p {
    font-family: $font-family;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: $logo-color;

    span {
      font-size: 10px;
      font-weight: 400;
    }
  }
}

.header_heading {
  position: relative;
  width: 700px;
  margin-top: 73px;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  color: $font-color-main;
  z-index: map-get($z, plus);

  @include bg_highlights(93px, 0, 50px, 300px);
}

.header_text {
  font-family: $font-family;
  margin-top: 33px;
  line-height: 24px;
  white-space: pre-line;
  word-spacing: 2.4px;
  color: $font-color-main;

  & + div {
    margin-top: 62px;
  }
}

.header_button {
  @include main-button;
}

.login {
  @include default_link;
  font-size: 20px;
  margin-left: 150px;
  color: #FFF;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1115px;
  margin: 0 auto;
}

.section_text {
  font-size: 42px;
  font-weight: 600;
  margin-top: 38px;
  color: $font-color-main;

  @include bg_highlights(32px, 565px, 50px, 190px);
}

.section_card_wrap {
  margin-top: 37px;
  width: 100%;
}

.section_card {
  display: flex;
  justify-content: space-between;
  background-color: $bgc-cards;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px 100px 20px 20px;

  img[alt='experts'] {
    width: 435px;
  }

  img[alt^='content'] {
    width: 415px;
  }

  img[alt='certificate'] {
    width: 490px;
  }
}

.section_card_img {
  border-radius: 5px;
}

.section_card_right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 90px;
  width: 480px;
  text-align: center;
  color: $cards-font-color;

  .section_card_heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 35px;
    color: #FFF;
  }

  .section_card_text {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }

  a {
    @include default_link;
  }
}

.section_banner {
  position: relative;
  top: 70px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 23px 162px 40px 160px;
  background: $bg-gradient;
  border-radius: 5px;
  color: $font-color-main;
  z-index: map-get($z, plus);
}

.section_banner_heading {
  font-size: 30px;
  font-weight: 700;
  word-spacing: 1.2px;
  position: relative;

  @include bg_highlights(-11px, 122px, 50px, 64px);
}

.section_banner_text {
  font-family: 'Hind', sans-serif;
  color: #CFD1C6;
  margin-top: 16px;
  word-spacing: 0.4px;
}

.section_banner_button {
  @include main-button;
  align-self: center;
  margin-top: 15px;
}

.footer {
  background-color: $bgc-footer;

  .footer_logo {
    p {
      color: $font-color-second;
    }
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1540px;
  height: 315px;
  margin: 0 auto;
  color: #C0C3CE;
}

.footer_text {
  width: 310px;
  font-size: 14px;
}