$general-background: #fff;
$header-bg-image: url("../img/m-h-day.jpg");
$main-button-color: #699900;
$font-family: 'Source Sans Pro', sans-serif;
$font-color-main: #2C2F3C;
$font-color-second: #C0C3B4;
$cards-font-color: #C0C3CE;
$highlights-color: #14A0C7;
$logo-color: #2C2F3C;
$bgc-cards: #21232E;
$bg-gradient: linear-gradient(47deg, rgba(105,153,1,1) 0%, rgba(43,89,222,1) 100%);
$bgc-footer: #21232E;

