$general-background: #21232E;
$header-bg-image: url("../img/m-h-night.jpg");
$main-button-color: #E3AC00;
$font-family: 'Fresca', sans-serif;
$font-color-main: #FFF;
$font-color-second: #D1D1D1;
$cards-font-color: #D1CCBC;
$highlights-color: #FF4E33;
$logo-color: #FFF;
$bgc-cards: #3B3F50;
$bg-gradient: linear-gradient(47deg, rgba(226,171,1,1) 0%, rgba(146,43,83,1) 100%);
$bgc-footer: #3B3F50;

