* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* START: Task 1 Styles */

.table {
    margin: 50px auto;
}

td {
    width: 70px;
    height: 70px;
    text-align: center;
    border: 2px solid #000;
    cursor: pointer;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */

#task2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-tel {
    width: 250px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 0;
    padding: 5px;
    font-size: 12px;
}

.btn-send {
    width: 50px;
    height: 35px;
}

.message {
    display: none;
    color: #FFF;
    padding: 10px;
    border: 1px solid #000;
}

.success-message {
    display: block;
    background-color: #008000;
}

.error-message {
    display: block;
    background-color: #FF8080;
}


/* END: Task 2 Styles */

/* START: Task 3 Styles */

#task3 {
    position: relative;
    width: 600px;
    height: 330px;
    margin: 20px auto;
    background-image: url("assets/court.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    text-align: center;
}

.left-zone,
.right-zone {
    position: absolute;
    width: 15px;
    height: 15px;
    top: calc(50% - 10px);
    background-color: #f00;
}

.left-zone {
    left: 5px;
}

.right-zone {
    right: 6px;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    transition: 1s;
}

.notification-score {
    padding-top: 20px;
    color: #FFF;
}

/* END: Task 3 Styles */
