.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__choose {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.choose__radio {
    display: flex;
}

.radio-label {
    display: flex;
    flex-direction: column;
}

#select {
    width: 130px;
}

.table {
    width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
}

tr:nth-child(2n) {
    background: #b4b4b4;
}

.table-header {
    background-color: #0f8f0b;
    color: white;
    text-align: center;
    line-height: 35px;
}

td {
    padding: 5px;
}

img {
    width: 30px;
}