*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.span-bold {
    font-weight: 600;
}

.wrapper {
    padding: 0 60px;
}

.header {
    height: 100vh;
    background-image: url("../img/apples.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .wrapper {
    height: 100%;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.header__logo {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFF;
}

.header__navigation {
    width: 440px;
    margin-right: 12px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.navigation-list a {
    font-size: 1.1rem;
    color: #FFF;
}

.header__navigation-item a:hover {
    border-bottom: 2px solid #FFF;
}

.header__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37%;
    margin: 202px auto 0;
    text-align: center;
    align-items: center;
}

.header__about-title {
    font-size: 64px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: #FFF;
}

.header__about-title span {
    font-size: 110px;
}

.header__about-description {
    font-size: 1.1rem;
    color: #FFF;
}

.header__about-link {
    width: 298px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #FFF;
    color: #FFF;
    font-size: 1.1rem;
    line-height: 60px;
}

.header__about-link:hover {
    background-color: #000;
}

.main__section .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 170px 0;
}

.section-about__title {
    font-size: 1.8rem;
    width: 45%;
}

.section-about__description {
    font-size: 1.1rem;
    width: 49%;
}

.main__article {
    background-color: #F3F3F3;
}

.main__article .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.main__article-title {
    margin-top: 180px;
    margin-bottom: 110px;
    font-size: 1.9rem;
    font-weight: 400;
    word-spacing: 0;
    letter-spacing: -0.5px;
}

.main__article section {
    margin-bottom: 20px;
}

.section__card-left,
.section__card-right {
    display: flex;
    height: 370px;
}

.section__card-right {
    flex-direction: row-reverse;
}

.card__picture {
    filter: brightness(.9);
    width: inherit;
    max-width: unset;
}

.card__picture-wrapper {
    position: relative;
    width: 950px;
}

.card__picture-wrapper p {
    position: absolute;
    left: 27px;
    bottom: 27px;
    font-size: 1.1rem;
    color: #FFF;
}

.section__card-description {
    align-self: center;
    font-size: 1.1rem;
    padding: 15px;
}

.card__picture-wrapper-first::after,
.card__picture-wrapper-second::after,
.card__picture-wrapper-third::after,
.card__picture-wrapper-fourth::after {
    position: absolute;
    border: 3px solid #FFF;
    font-size: 1.1rem;
    color: #FFF;
    padding-top: 5px;
    padding-left: 7px;
    background-color: #343638;
    opacity: .7;
}

.card__picture-wrapper-first::after,
.card__picture-wrapper-second::after {
    content: "172 ♥";
    width: 75px;
    height: 40px;
    top: 22px;
    right: 22px;
}

.card__picture-wrapper-third::after {
    content: "20 ♥";
    width: 66px;
    height: 43px;
    top: 28px;
    right: 21px;
}

.card__picture-wrapper-fourth::after {
    content: "150 ♥";
    width: 75px;
    height: 43px;
    top: 32px;
    right: 28px;
}

.main__subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 52px 30px;
    margin: 60px 0;
}

.main__subscribe-label {
    font-size: 1.9rem;
    margin-right: 16px;
}

#main__subscribe-input {
    height: 71px;
    width: 890px;
    padding: 20px 30px;
    border: 1px solid #000;
    background-color: #F3F3F3;
}

#main__subscribe-input::placeholder,
#footer__subscribe-input::placeholder {
    color: #000;
}

.subscribe-send {
    height: 71px;
    width: 130px;
    border: none;
    background-color: #343638;
    font-size: 1.1rem;
    color: #FFF;
}

.footer .wrapper {
    margin-top: 150px;
}

.footer-information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
    border-bottom: 3px solid #F0F0F0;
}

.footer-information__item {
    width: 23%;
}

.footer-information__title {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.footer-information__text,
.footer-information__contact-list a {
    font-size: 1.1rem;
    line-height: 25px;
    color: #9E9E9E;
}

.footer-information__item:nth-child(2) .footer-information__text {
    font-style: italic;
}

.footer-information__text span {
    font-size: 1.1rem;
    font-style: normal;
    color: #E8E8E8;
}

.footer-information__contact a:hover {
    color: #B7C8D9;
}

#footer__subscribe-form {
    display: flex;
    margin-top: 3px;
}

#footer__subscribe-input {
    height: 45px;
    width: 262px;
    padding: 12px 7px;
    border: 1px solid #000;
    background-color: #F3F3F3;
}

.footer__subscribe-send {
    height: 45px;
    width: 119px;
    border: none;
    background-color: #343638;
    font-size: 1.1rem;
    color: #FFF;
}

.subscribe-button {
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: #FFF;
    border: 2px solid #343638;
    color: #343638;
}

.footer__navigation-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.footer__navigation-copyright {
    font-size: 1.1rem;
    color: #9E9E9E;
}

.footer__navigation {
    width: 310px;
}

.footer__navigation-item a {
    color: #000;
}

.footer__navigation-item a:hover {
    border-bottom: 2px solid #000;
}

@media (max-width: 1630px) {
    html {
        font-size: 15px;
    }

    .main__subscribe-label {
        font-size: 1.5rem;
    }
}

@media (max-width: 1550px) {
    .section__card-left,
    .section__card-right {
        height: unset;
    }

    .card__picture-wrapper {
        width: 750px;
    }
}

@media (max-width: 1250px) {
    .footer__subscribe-send {
        font-size: 1rem;
    }
}

@media (max-width: 1200px) {
    .section__card-left, .section__card-right {
        flex-direction: column;
        align-items: center;
    }

    .section__card-description {
        max-width: 750px;
    }

    #main__subscribe-input {
        height: 55px;
        width: 550px;
    }

    .subscribe-send {
        height: 55px;
        width: 100px;
    }
}

@media (max-width: 1050px) {
    .main__subscribe {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main__subscribe-label {
        margin-bottom: 10px;
    }

    .footer-information {
        flex-wrap: wrap;
    }

    .footer-information__item {
        width: 400px;
    }
}

@media (max-width: 950px) {
    .footer-information__item {
        width: 300px;
    }
}