.flex-2-col:first-child {
    display: flex;
    align-items: center;
}

#about .box:nth-child(odd):hover {
    background-color: #87CEFA;
}

#about .box:nth-child(odd):hover h2 {
    color: #fff;
    font-weight: 600;
}

p::first-letter {
    font-size: 30px;
    color: #87CEFA;
}

.tm-banner {
    background-color: #eaeaea;
}

.tm-banner-inner {
    background-color: #fff;
}

#home,
.tm-sidebar,
section:not(:first-of-type),
section:first-of-type > .tm-content-box {
    box-shadow: 0 0 10px 2px grey;
}

section:before {
    content: "";
    border: 25px solid transparent;
    border-top: 0;
    border-left: 200px solid #87CEFA;
}

.carousel-item:first-child .tm-section-title {
    color: gainsboro;
    letter-spacing: 5px;
}

h2 + p {
    font-style: italic;
}

section:first-of-type .flex-2-col {
    line-height: 30px;
    text-indent: 20px;
}

.heading a {
    text-decoration: none;
    color: black;
}

.heading a:visited {
    text-decoration: underline;
}

.heading a:hover {
    color: #87CEFA;
    text-decoration: underline;
    text-decoration-style: double;
}

.text::after {
    content: 'New';
    display: inline-block;
    color: #f00;
    vertical-align: super;
    font-size: 12px;
}

.box-work {
    padding: 7px;
}

.box-work:nth-child(even) {
    background-color: #eaeaea;
}

.box-work p::first-letter {
    font-size: 30px;
    color: black;
}

.submit-btn {
    float: right;
    background-color: #fff;
    border: 1px solid #87CEFA;
    border-radius: 0;
    padding: 10px 30px;
    color: #87CEFA;
}

.submit-btn:hover {
    background-color: #87CEFA;
    border: 1px solid transparent;
    color: #fff;
}

.mandatory-field::after {
    content: '*';
    color: #f00;
    font-weight: 600;
}

.tm-nav-item:hover {
    background-color: #eaeaea;
}

@media print {
    .tm-sidebar,
    section:not(:first-of-type),
    .tm-content-box:not(:first-child),
    section:before {
        display: none;
    }

    .container {
        width: 600px;
        margin: 0 auto;
    }

    .flex-item > img {
        width: 230px;
        padding-top: 50px;
    }

    .tm-banner {
        padding: 0;
    }

    h2.tm-section-title {
        color: #1838FF;
    }

    .tm-section-description {
        font-size: 18px;
        width: 290px;
    }

    .tm-section-description::first-letter,
    .text-xs-center::first-letter,
    .tm-banner-inner p::first-letter {
        color: #6C8AA2;
    }
}