*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    max-width: 1519px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF;
}

.header .wrapper {
    justify-content: space-between;
    padding: 25px 170px 13px;
}

.header__logo {
    margin-top: -10px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 380px;
}

.header__nav-link {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
}

.header__nav-link:hover {
    color: #0078aa;
}

.main {
    margin-top: 65px;
}

.main .wrapper {
    flex-direction: column;
}

.main__section-banner {
    background-image: url("../img/lady.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
}

.section-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 100%;
    margin-left: 170px;
}

.section-banner__title {
    margin-top: 60px;
    font-size: 2.5rem;
}

.section-banner__description {
    width: 470px;
    margin-top: 25px;
    color: #A299B2;
}

.section-banner__icons {
    display: flex;
    margin-top: 15px;
}

.section-banner__icon {
    color: #fff;
    background-color: #0078aa;
    padding: 8px;
    margin-left: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.section-banner__icon:hover {
    background-color: #FFF;
    border: 2px solid #0078AA;
    color: #0078AA;
}

.article__section-about {
    display: flex;
    margin-top: 60px;
}

.section-about__picture {
    width: 50%;
    display: flex;
    align-items: center;
}

.section-about__text {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 70px 30px;
}

.section-about__title {
    font-size: 1.9rem;
}

.section-about__subtitle {
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #0078aa;
}

.section-about__article {
    margin-top: 15px;
}

.arrow {
    margin-right: 5px;
    font-size: .8rem;
    color: #0078aa;
}

.section-about__article-description {
    margin-top: 5px;
    font-size: .85rem;
}

.article__section-services {
    background-image: url('../img/services_bg.jpg');
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-size: cover;
}

.section-services__container {
    padding: 60px 170px;
}

.section-services__header {
    text-align: center;
}

.section-services__title {
    font-size: 2rem;
}

.section-services__subtitle {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
    text-transform: uppercase;
}

.section-services__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section-services__block {
    background-color: #FFF;
    width: 370px;
    height: 230px;
    padding: 26px;
    margin-bottom: 25px;
}

.section-services__block img {
    width: 130px;
}

.section-services__block h4 {
    margin-top: 10px;
}

.section-services__block p {
    margin-top: 10px;
    font-size: .85rem;
}

.article__section-pricing {
    background-image: url(../img/pricing_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.article__section-pricing .wrapper {
    padding-top: 70px;
}

.section-pricing__header {
    text-align: center;
}

.section-pricing__title {
    font-size: 2rem;
}

.section-pricing__subtitle {
    font-weight: 400;
    text-transform: uppercase;
}

.section-pricing__offers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
}

.offers__block-left,
.offers__block-right {
    width: 380px;
    height: 550px;
    margin-top: 5px;
    padding-top: 50px;
    background-color: #47C9E5;
    text-align: center;
    line-height: 25px;
    color: #FFF;
}

.offers__block-center {
    width: 400px;
    height: 610px;
    padding-top: 80px;
    background-color: #FFF;
    border: 2px solid #47C9E5;
    color: #0078aa;
    text-align: center;
    line-height: 25px;
}

.offers__block-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.section-pricing__offers p.price {
    font-size: 3.9rem;
    font-weight: 700;
    line-height: 1.5;
}

.offers__block-italic {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.section-pricing__offers p {
    font-size: 0.8rem;
    line-height: 45px;
}

.section-pricing__offers p.mark-close {
    font-size: 1.2rem;
}

.offers__block-button {
    height: 45px;
    width: 120px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #0078aa;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #47C9E5;
    cursor: pointer;
}

.offers__block-button:hover {
    background-color: #47C9E5;
    border: 2px solid #fff;
    color: #fff;
}

.article__section-contact {
    display: flex;
    margin-top: 140px;
}

.section-contact__picture {
    width: 54%;
    margin-top: -60px;
}

.section-contact__contact-container {
    margin-left: 30px;
    width: 100%;
}

.section-contact__title {
    font-size: 1.9rem;
    font-weight: 700;
}

.section-contact__subtitle {
    margin-top: 10px;
    font-size: .85rem;
    font-weight: 400;
    text-transform: uppercase;
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#contact-form input {
    width: 100%;
    padding: 12px 20px 5px;
    font-size: .8rem;
    margin-top: 13px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #363636;
    font-style: italic;
    color: #363636;
}

.contact-form__button {
    margin-top: 19px;
    margin-left: 5px;
    color: #FFF;
    height: 43px;
    width: 89px;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    background-color: #0078AA;
    cursor: pointer;
}

.contact-form__button:hover {
    background-color: #FFF;
    border: 2px solid #0078AA;
    color: #0078AA;
}

.footer .wrapper {
    justify-content: center;
    padding: 20px;
    background-color: #363636;
    color: #FFF;
}

.button-top a {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #0078AA;
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 50px;
    color: #FFF;
}

@media (max-width: 1480px) {
    .section-services__container {
        padding: 60px 30px;
    }
}

@media (max-width: 1280px) {
    .section-services__container {
        padding: 60px 30px;
    }

    .section-pricing__offers {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1210px) {
    .section-services__block {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .header .wrapper {
        padding: 25px 10px 13px;
    }

    .section-banner__text {
        margin-left: 15px;
    }

    .article__section-about {
        margin-top: 15px;
    }

    .section-about__text {
        margin: 50px 10px;
    }

    .article__section-services {
        margin-top: 50px;
    }

    .section-services__container {
        padding: 60px 15px;
    }

    .section-services__block {
        width: 228px;
        height: 270px;
    }

    .article__section-pricing .wrapper {
        padding-top: 40px;
    }

    .section-contact__picture {
        width: 60%;
        margin-top: 0;
        object-fit: cover;
        object-position: left;
    }

    .contact-form__button {
        margin-bottom: 50px;
    }

}

@media (max-width: 502px) {
    .section-services__blocks {
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .header .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main__section-banner {
        background-size: auto;
    }

    .section-banner__text {
        width: 370px;
        text-align: center;
    }

    .section-banner__description {
        width: 380px;
    }

    .section-banner__icons {
        display: flex;
        justify-content: space-evenly;
    }

    .article__section-about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .article__section-contact {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
    }

    .section-services__block {
        width: unset;
    }

    .section-pricing__offers {
        flex-direction: column;
    }

    .offers__block-left,
    .offers__block-center,
    .offers__block-right {
        width: 100%;
    }

    .offers__block-center {
        margin-top: 5px;
    }

    .section-contact__contact-container {
        margin-left: 0;
    }

    .section-about__text {
        width: 80%;
    }
}

@media (max-width: 414px) {
    .section-contact__picture {
        width: 100%;
    }

    .section-contact__contact-container {
        text-align: center;
    }

    .section-contact__title {
        width: 90%;
        margin-top: 15px;
    }

}