.main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 200px;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px 0 #000;
}

.input {
    background-color: #7de781;
    padding: 3px;
    border: 1px solid #363636;
}

.button {
    background-color: #7de781;
    font-weight: 600;
    padding: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button:hover {
    background-color: #FFF;
    border: 1px solid #7de781;
}