*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #fff; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 0 175px 192px;
  border-radius: 0 0 757px/288px 0; }

.landing-logo {
  display: flex;
  align-items: center; }
  .landing-logo p {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    color: #2C2F3C; }
    .landing-logo p span {
      font-size: 10px;
      font-weight: 400; }

.header_heading {
  position: relative;
  width: 700px;
  margin-top: 73px;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  color: #2C2F3C;
  z-index: 1; }
  .header_heading::before {
    content: '';
    position: absolute;
    top: 93px;
    left: 0;
    height: 50px;
    width: 300px;
    background-color: #14A0C7;
    z-index: -1; }

.header_text {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 33px;
  line-height: 24px;
  white-space: pre-line;
  word-spacing: 2.4px;
  color: #2C2F3C; }
  .header_text + div {
    margin-top: 62px; }

.header_button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #699900;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 12px 44px;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.login {
  color: #C0C3B4;
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  margin-left: 150px;
  color: #FFF; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1115px;
  margin: 0 auto; }

.section_text {
  font-size: 42px;
  font-weight: 600;
  margin-top: 38px;
  color: #2C2F3C; }
  .section_text::before {
    content: '';
    position: absolute;
    top: 32px;
    left: 565px;
    height: 50px;
    width: 190px;
    background-color: #14A0C7;
    z-index: -1; }

.section_card_wrap {
  margin-top: 37px;
  width: 100%; }

.section_card {
  display: flex;
  justify-content: space-between;
  background-color: #21232E;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px 100px 20px 20px; }
  .section_card img[alt='experts'] {
    width: 435px; }
  .section_card img[alt^='content'] {
    width: 415px; }
  .section_card img[alt='certificate'] {
    width: 490px; }

.section_card_img {
  border-radius: 5px; }

.section_card_right_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 90px;
  width: 480px;
  text-align: center;
  color: #C0C3CE; }
  .section_card_right_container .section_card_heading {
    font-size: 24px;
    font-weight: 600;
    margin-top: 35px;
    color: #FFF; }
  .section_card_right_container .section_card_text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify; }
  .section_card_right_container a {
    color: #C0C3B4;
    text-decoration: underline;
    font-weight: 400; }

.section_banner {
  position: relative;
  top: 70px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 23px 162px 40px 160px;
  background: linear-gradient(47deg, #699901 0%, #2b59de 100%);
  border-radius: 5px;
  color: #2C2F3C;
  z-index: 1; }

.section_banner_heading {
  font-size: 30px;
  font-weight: 700;
  word-spacing: 1.2px;
  position: relative; }
  .section_banner_heading::before {
    content: '';
    position: absolute;
    top: -11px;
    left: 122px;
    height: 50px;
    width: 64px;
    background-color: #14A0C7;
    z-index: -1; }

.section_banner_text {
  font-family: 'Hind', sans-serif;
  color: #CFD1C6;
  margin-top: 16px;
  word-spacing: 0.4px; }

.section_banner_button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #699900;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 12px 44px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  margin-top: 15px; }

.footer {
  background-color: #21232E; }
  .footer .footer_logo p {
    color: #C0C3B4; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1540px;
  height: 315px;
  margin: 0 auto;
  color: #C0C3CE; }

.footer_text {
  width: 310px;
  font-size: 14px; }
